
body {
	background-image: url("../img/cream_pixels.png");
	padding-top:0;//57px;
}
section {
	margin-top: 20px;
	padding-top: 20px;
}
section.section-break {
	margin-top: 60px;
	padding-top: 100px;
}
.storytitle {
	padding-bottom: 20px;
	text-align: center;
	h1 {
		text-transform: uppercase;
		margin-bottom:0px;
	}
	
}
p.lead {
	font-size:24px;
	line-height:36px;
}


/* 
	MAIN STORY PAGE
*/
.title-panel {
	display:table;
	height:100%;
	.title-panel-container {
		display:table-cell;
		vertical-align:middle;
	}
}
.main-story-title {
	padding:20px;
	text-align:center;
	img {
		//width:100px;
	}
	h1 {
		font-family: 'Playfair Display', serif;
		line-height:80px;
		font-size:80px;
		font-weight:normal; 
		text-transform: uppercase;
		text-align:center;
		color:#000;
		.title-black, .title-red {
			display:inline-block;
			width:100%;
			text-align:center;
		}
		.title-black {
			color:#000;
		}
		.title-red {
			color:#D12229;
		}
	}
	.title-sub {
		display:inline-block;
		border-top: 1px solid #999;
		padding-top:10px;
		margin-bottom:25px;
	}
	h2 {
		text-transform: uppercase;
		text-align:center;
		color:#999;
		font-weight:300;
		font-size: 28px;
		//border-top: 1px solid #999;
		display:inline;
	}
	
}
body, html {
	height:100%;
}
section.panel-nav {
	margin-top:0px;
	padding-top:0px;
	
	margin-bottom:150px;
	.panels {
		//min-height:100%;
		//height:100%;
		//margin-top:57px;
		.span4 {
			width: 33.3333333%;
			margin:0;
			
		}
		.span6 {
			width:50%;
			margin:0;
		}
		.panel {
			//width: 16.6666667%;
			//width: 33.3333333%;
			//margin:0;
			//float:left;
			background-image: url('http://farm9.staticflickr.com/8501/8316081118_da9eb027f8_o.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			
			height:300px;
			//border: 5px solid #CCC;
			//border: 5px solid rgba(0,0,0,0);
			//padding:20px;
			//padding-top:100px;
			border-bottom: 2px solid #CCC;
			border-left: 2px solid #CCC;
		}
		.panel {
			a {
				.story-item {
					height:100%;
					width:100%;
					background-color:rgba(0,0,0,.50);
					display:table;
					.story-item-container {
						//width:100%;
						padding:20px;
						width:50%;
						//text-align:center;
						//display:table-cell;
						//vertical-align:middle;
						h2 {
							margin-top:0;
							color:#CCC;
							font-weight:300;
							//text-align:center;
							//text-shadow: #000 1px 1px 2px;
							text-transform: uppercase;
							font-size:32px;
						}
						p {
							color:#FFF;
							font-weight:300;
							display:none;
							//text-shadow: #000 1px 1px 1px;
							font-size:20px;
							//margin-left:20px;
							//margin-right:20px;
						}
					}

				}
			}
			a:hover {
				text-decoration:none;
				.story-item {
					background-color:rgba(0,0,0,.70);
					.story-item-container {
						h2 {
							color:#FFF;
						}
						p {
							display:block;
							
						}
					}
				}
			}
			
		}
		.panel:hover {
			//border: 5px solid #000;
			.story-item {
				
			}
		}
		
		#feed {
			background-image: url('../img/teaser/feed.jpg');
		}
		#iv {
			background-image: url('../img/teaser/iv.jpg');
			
		}
		#capture {
			background-image: url('../img/teaser/capture.jpg');
		}
		#dotedu {
			background-image: url('../img/teaser/dotedu.jpg');
		}
		#beer {
			background-image: url('../img/teaser/beer.jpg');
		}
		#molly {
			background-image: url('../img/teaser/molly.jpg');
			background-position:center;
		}
	}
	
}
