section {
	margin-top: 20px;
	padding-top: 20px;
}
section.section-break {
	margin-top: 60px;
	padding-top: 100px;
}
.storytitle {
	padding-bottom: 20px;
	text-align: center;
	color: white;
}
.storytitle h1 {
	text-transform: uppercase;
	margin-bottom:0px;
}

.titleslide {
	position: relative;
}

p.lead {
	font-size:24px;
	line-height:35px;
	font-weight:400;
	font-family: 'Lato', sans-serif;
}
blockquote.strong-quote {
	padding:0;
	border:none;
	margin-bottom:30px;
}
blockquote.strong-quote p{
	font-size:1.5em;
	line-height:38px;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
	color: #6740A5;
}

p {
	font-size:20px;
	line-height:33px;
	font-weight:300;
	font-family: 'Lato', sans-serif;
}

p.attribution {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-style: italic;
	font-size: 25px;
	color: #6740A5;
}

.carousel-caption {
	position: static;
}

#parallaxbreak1 {
    background-image: url('../img/danceMID1.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 20% 0;
}

#parallaxbreak2 {
	background-image: url('../img/pillonhandpara.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 20% 0;
}

#parallaxbreak4{
    background-image: url('../img/hulahooppara.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 20% 0;
}

#parallaxbreak6{
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin-bottom: -90px;
}

#parallaxbreak7{
    background-image: url('../img/crowdMID.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 20% 0;
}

#parallaxbreak5{
    background-image: url('../img/djhand2.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 20% 0;
}

#finalparallaxbreak {
    background-image: url('../img/lights1.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 20% 0;
}

#finalquote {
	margin-left: 35%;
	margin-top: 300px;
}

.Carissaquote {
	margin-top: 6%;
	margin-left: 55%;
}


.outerdeck{
	position: relative;
  	width: 100%;
  	height: 100%;
  	top:-85px;
  	opacity: 1;
}

.outerdeck video {
	width: 100%;
}

#video_background{
	transition: opacity .5s ease-in;
}

p.deck {
font-size: 2em;
color: white;
line-height: 35px;
font-weight:500;
font-family: 'Lato', sans-serif;
position: absolute;
margin-left: 10%;
top: 73%;
width: 35%;
}

.headerimg{
position: absolute;
top: 100px;
margin-left: 10%;
}

.blackbox{
top: 0;
left: 0;
width: 100%;
height: 1200px;
background-color: black;
}

.mdmahex{
position: relative;
margin-top: 100px;
height: 462px;
width: 400px;
margin-left: 10%;
}

.deadmau5{
position: relative;
height: 462px;
width: 400px;
}

.turtleguy{
position: relative;
width: 300px;
height: 347px;
}

.hatgirlhex{
position: relative;
width: 400px;
height: 462px;
margin-top: 400px;
margin-left: 10%;
}

.blurrydance{
position: relative;
width: 400px;
height: 462px;
margin-top: 125px;
margin-right: 10%;
}

.trippinghex{
position: relative;
margin-top: 1000px;
height: 462px;
width: 400px;
}

.djlights{
position: relative;
width: 300px;
height: 347px;
margin-left: 40%;
}

.charthex{
position: relative;
width: 400px;
height: 462px;
}

.lightdancerhex{
position: relative;
width: 300px;
height: 347px;
margin-left: 40%;
}

.dotshex{
position: relative;
margin-top: 500px;
width: 400px;
height: 462px;
margin-left: 0px;
}

.brashex{
position: relative;
width: 400px;
height: 462px;
}

.fliershex{
position: relative;
width: 300px;
height: 347px;
margin-left: 43%;
}

.TestIt{
position: relative;
width: 300px;
height: 347px;
margin-left: 30%;
}

.DanceSafeTent{
position: relative;
width: 400px;
height: 462px;
margin-left: 10%;
margin-top: 500px;
}

.couplehex{
position: relative;
width: 300px;
height: 347px;
margin-top: 700px;
margin-left: 30%;
}

.MIDdancer{
position: relative;
width: 400px;
height: 462px;
margin-left: 15%;
}

.Swoonhex{
position: relative;
width: 300px;
height: 347px;
margin-top: 500px;
margin-left: 10%;
}

.djmilkhex{
position: relative;
width: 400px;
height: 462px;
margin-left: 10%;
margin-top: 200px;
}

.firedancefinal{
position: relative;
width: 300px;
height: 347px;
}

.deadmau5>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.turtleguy>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.mdmahex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.hatgirlhex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.blurrydance>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.trippinghex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.djlights>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.charthex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.lightdancerhex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.dotshex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.brashex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.fliershex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.TestIt>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.DanceSafeTent>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.couplehex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.MIDdancer>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.Swoonhex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.djmilkhex>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.firedancefinal>img{
position: absolute;
width: 100%;
height: 100%;
transition: all .4s ease;
}

.bighex>img:nth-child(1){
opacity: 1;
z-index: 2;
}

.bighex>img:nth-child(2){
opacity: 0;
z-index: 1;
}

.bighex:hover > img:nth-child(1){
opacity: 0;
z-index: 1;
}

.bighex:hover > img:nth-child(2){
opacity: 1;
z-index: 2;
}

.smlhex>img:nth-child(1){
opacity: 1;
z-index: 2;
}

.smlhex>img:nth-child(2){
opacity: 0;
z-index: 1;
}

.smlhex:hover > img:nth-child(1){
opacity: 0;
z-index: 1;
}

.smlhex:hover > img:nth-child(2){
opacity: 1;
z-index: 2;
}


#myCarousel .carousel-inner .item img{
	height: 400px;
	width: auto;
	margin: 0 auto;
}

.carousel-caption{
text-align: center;
margin-top: 10px;
background:none;
}

.carousel-caption h4{
color: #6740A5;
font-family: 'Lato', sans-serif;
font-size: 25px;
}

.carousel-caption p{
margin: 10px; 
color: black;
font-family: 'Lato', sans-serif;	
font-size: 20px;
line-height: 30px;
}

#scienceblockquote{
	margin-left: 100px;
}

.TestClip{
	width: 100%;
	height: auto;
}

#TestVid{
	overflow: hidden;
	margin-bottom: -90px;
	margin-top: 20px;
}

#lightsvideo{
	overflow: hidden;
	margin-bottom: -90px;
	margin-top: 20px;
}

.DEAClip{
	width: 100%;
	height: auto;
}

#Rileyquote{
	margin-top: 145px;
	margin-left: 30%;
}

hr{
display: block;
height: 5px;
border: 0;
border-top: 1px solid #6740A5;
}

#carousel-wrapper{
padding-left: 100px;
width: 80%;
}

.mdmasymbol{
position: relative;
margin-left: 8%;
margin-top: -264px;
}

/* Media queries */

@media screen and (max-width: 960px) {
/* 
	
	
 */
}
@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 62px;
	}
}
@media screen and (max-width: 768px){
	#carousel-wrapper {
		padding-left: 0;
		width: 100%
	}
}

@media screen and (max-width: 500px){
	#carousel-wrapper {
		padding-left: 0;
		width: 100%
	}
	.smlhex, .bighex {
		display: none;
	}
	
	p.deck{
		font-size: 1em;	
	}
	
}