html, body{
	width:100%;	
}
.preview {
padding-top: 56px;
}
video {
	top:0;
	left:0;
	max-width:100%;
	margin-top:-3%;
	width:100%;
}
.container {
	font-family: 'Carrois Gothic', sans-serif;
}
section {
	padding-top: 20px;
	font-size:20px;	
}
.deck{
	margin-top:6%;
	margin-bottom:8%;
}
.deck .container{
	font-family: 'Brawler', serif;
	font-size: 35px;
	line-height:125%;
}
.byline{
	font-size:20px;
	color:gray;
}
.robbins, .kestel {
	background-color: #E5D77D;
	box-shadow: 2px 2px 5px #999;
	color: black;
}
.wilson, .stas {
	background-color: #CFCFD2;
	box-shadow: 2px 2px 5px #999;
	color:black;
}
.stas{
	margin-bottom: 5%;
}
.sectionHed{
	position: relative;
	margin-bottom:0;
}
.robbins .title {
	position: absolute;
	bottom:0;
	right:5%;
	font-size: 7em;
	color: white;
	text-align: left;
	font-weight:900;
	font-family: 'Brawler', serif;
	
}
.kestel .title, .stas .title, .wilson .title{
	position: absolute;
	bottom:0;
	left:5%;
	font-size: 7em;
	color: white;
	text-align: left;
	font-weight:900;
	font-family: 'Brawler', serif;

}
.firstWord, .thirdWord{
	font-size:.4em;
}
.fourthWord{
	margin-top:-8%;
}
.stas .thirdWord {
	margin-left: 5%;
}
.wilson .fourthWord, .robbins .fourthWord{
	margin-top:-6%;
	}
.leadText{
	font-size:26px;
	margin-top: 2%;
	font-weight:600;
	line-height:125%;
}
.unlikelyMarriage .leadText, .unstableUnion .leadText, .unsatisfiedPartner .leadText{
	margin-top:-1%;
	}
.leadPhoto{
	max-width:100%;
	margin-top:-2%;
	width:100%;
}
.titleInfo{
	font-family: 'Brawler', serif;
	font-size:4em;
	text-align: center;
}
blockquote{
	font-size: 34px;
	font-family: 'Brawler', serif;
	line-height:125%;
	border-left: none;
}
.bQuoteAttr{
	font-size: 24px;
}
.belowPhoto{
	margin-top:2%;
}
.last{
	margin-bottom:10%;
}	
