body {min-width: 960px !important;}
	
@media(max-width:979px){
.navbar-fixed-top{margin-bottom: 0p}
}

#container-id{max-width: 1000px; margin: 0 auto;}

.preview{
padding-top: 56px;
}

#play{
position: relative; 
background-color:white; 
border:none; 
margin:0; 
width:180px; 
height:70px;
}

video{ 
width: 100%;
}

#yep {
position: absolute;
width: 22%;
height: 15%;
}

#ugh {
position: absolute;
width: 22%;
height: 15%;
}

#carly {
position: absolute;
width: 36.3%;
height: 27%;
}

#joe {
position: absolute;
width: 38.8%;
height: 29%;
}

#continue {
position: absolute;
left: 80.7%;
bottom: -73%;
width: 17%;
height: 5%;
background-color: grey;
font-size: 2em;
}

#keepgoing {
position: absolute;
width: 30%;
height: 30%;
}

#noway {
position: absolute;
width: 18%;
height: 15%;
}

#yesfafsa {
position: absolute;
width: 18%;
height: 15%;
}

#parents {
position: absolute;
width: 20%;
height: 25%; 
}

#call {
position: absolute;
width: 18%;
height: 15%;
}

#nocall {
position: absolute;
width: 18%;
height: 15%;
}

#frat {
position: absolute;
width: 18%;
height: 15%;
}

#football {
position: absolute;
width: 18%;
height: 15%;
}

#nicksparks {
position: absolute;
width: 18%;
height: 15%;
}

#liveitup {
position:absolute;  
width: 18%;
height: 15%;
}

#likemyfolks {
position:absolute;  
width: 18%;
height: 15%;
}

#keepon {
position:absolute;  
width: 30%;
height: 30%;
}

#all {
position:absolute;  
width: 18%;
height: 15%;
}

#none {
position:absolute;  
width: 18%;
height: 15%;
}

#alltwo {
position:absolute;  
width: 18%;
height: 15%;
}

#nonetwo {
position:absolute;  
width: 18%;
height: 15%; 
}

#majormajormajor {
position:absolute;  
width: 18%;
height: 15%;
}

#gimmetime {
position:absolute;  
width: 18%;
height: 15%;
}

#majormajormajortwo {
position:absolute;  
width: 18%;
height: 15%; 
}

#gimmetimetwo {
position:absolute;  
width: 18%;
height: 15%;
}

#os {
position:absolute;  
width: 18%;
height: 15%;
}

#ut {
position:absolute;  
width: 18%;
height: 15%;
}

#up {
position:absolute;  
width: 18%;
height: 15%;
}

#os {
position:absolute;  
width: 18%;
height: 15%;
}

#uttwo {
position:absolute;  
width: 18%;
height: 15%; 
}

#uptwo {
position:absolute;  
width: 18%;
height: 12%;
}

#ostwo {
position:absolute;  
width: 18%;
height: 15%;
}

#keepswimming {
position:absolute;  
width: 30%;
height: 30%;
}

#keepswimmingtwo {
position:absolute;  
width: 30%;
height: 30%;
}

#letsgo {
position:absolute;  
width: 18%;
height: 15%;
}

#hellno {
position:absolute;  
width: 18%;
height: 15%;
}

#letsgotwo {
position:absolute;  
width: 18%;
height: 15%;
}

#hellnotwo {
position:absolute;  
width: 18%;
height: 15%;
}

#results {
position:absolute;  
width: 60%;
height: 60%;
}

#resultsonline {
position:absolute;  
width: 60%;
height: 60%;
}

#playagain {
position:absolute;  
width: 60%;
height: 60%;
}
/***** Normal Button Style *****/
.tbutton {
	position: absolute;
	background: transparent;
	border: none;
	}

#overview {
font-family: 'Open Sans', sans-serif;
z-index: 0;
} 

#deck {
margin: 50px 50px 10px 80px; 
font-size:175%;
text-align: left;
line-height:130%;
}

#byline {
margin: 40px 0 40px 80px; 
font-size:135%;
text-align: left;
}

#byline a:link {color:black;}    
#byline a:visited {color:black;}  
#byline a:hover {color:grey;}  
#byline a:active {color:black;}  

section {
	margin-top: 20px;
	padding-top: 20px;
}

section.section-break {
	margin-top: 60px;
	padding-top: 100px;
}

.storytitle {
	padding-bottom: 20px;
	text-align: center;
}
.storytitle h1 {
	text-transform: uppercase;
	margin-bottom:0px;
}
//**p.lead {
	font-size:24px;
	line-height:36px;
}
blockquote.strong-quote {
	padding:0;
	margin:0;
	border:none;
	margin-top:30px;
	margin-bottom:30px;
}
blockquote.strong-quote p{
	font-size:30px;
	line-height:38px;
	font-weight: bold;
}
.my-background-example {
	padding: 20px;
	background-image: url(http://farm9.staticflickr.com/8501/8316081118_da9eb027f8_o.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;**//
}
.carousel-caption {
	position: static;
}

#progressbar {
  background-color: #3399cc;
   width: 0%; /* Adjust with JavaScript */
   height: 10px;
   line-height: 10px;
}