.carousel-inner {
	
	height:100%;
}
.carousel-control {
	z-index:999;
}
/*GLOBAL STYLES*/

body, html {
	background-color: #000000;
	width: 100%;
  	height: 100%;
  	min-height: 100%;
}

body {
	height: 100%;
}

#carousel {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.item {
	background-color: #000000;
	width: 100%;
	height: 100%;
	margin-top: -6.25%;
}

.glyphicon {
	z-index: 7;
}


/*OVERLAY UNDER TEXT ON AVTEs*/

.titleBedLEFT {
	background-color: #000000;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	width: 42%;
	height: 100%;
	z-index: 2;
	position: fixed;
	overflow: hidden;
	margin-top: 10%;
}

.titleBedRIGHT {
	background-color: #000000;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	width: 42%;
	min-height: 100%;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	margin-left: 55%;
	margin-top: 10%;
}

/*AVTE GLOBAL STYLES*/

.AVTEbg {
	position: absolute;
	z-index: 1;
	margin-top: 10%;
	width: 100%;
	height: 100%;
}

.AVTE {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color:#000000;
	height: 100%;
	width: 100%;
}

.AVTEtext {
	width: 35%;
	height: 1000px;
	margin-top: 17%;
	z-index: 3;
	position: fixed;
	overflow: hidden;
	margin-left: 4%;
}

.AVTEtext h1 {
	font-family: 'Josefin Sans', Verdana, sans-serif;
	color: #B2D8CC;
	font-size: 1.38em;
	padding-left: 13%;
	line-height: 155%;
	float: left;
	padding-bottom: 2%
}

.textRIGHT {
	margin-left: 56%;
}

.emphasis {
	font-weight: 700;
}

.att {
	font-size: 1em;
	font-family: 'Josefin Sans', Verdana, sans-serif;
	color: #B2D8CC;
	padding-left: 13%;
	line-height: 155%;
	float: left;
	padding-bottom: 2%
}


/*VIDEO GLOBAL STYLES*/

.videoPlayer {
	background: center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color:#000000;
	height: 100%;
	width: 100%;
	margin-top: 7%;
	z-index: 1;
	position: absolute;
}

.vigTag {
	background-color: #5E5555;
	border: 1px solid #B2D8CC;
	position: absolute;
	z-index: 2;
	margin-top: 51%;
	margin-left: 42%;
	padding: 0% 1%;
}

.vigTag h1 {
	font-family: 'Josefin Sans', Verdana, sans-serif;
	color: #E9EBEB;
	font-size: 1em;
}

/*BLACK SCREEN GLOBAL STYLES*/

.blackScreen {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color:#000000;
	height: 100%;
	width: 100%;
}

.blackScreenText {
	display: block;
	width: 70%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10.05%;
}

.blackScreenText h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	color: #E9EBEB;
	line-height: 150%;
	text-align: center;
	padding-top: 10%;
	z-index: 11;
}



/*FRAME 1 STYLE - AVTE/TITLE - PLAYER 1*/

#hedAndDek {
	color: #B2D8CC;
	font-family: 'Josefin Sans', Verdana, sans-serif;
	width: 40%;
	height: 1000px;
	margin-top: 15%;
	z-index: 3;
	position: fixed;
	overflow: hidden;
	margin-left: 55%;
}

#hedAndDek h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 5.3em;
	color: #E9EBEB;
	padding-left: 13%;
}

#hedAndDek h2 {

	font-family: 'Josefin Sans', Verdana, sans-serif;
	font-size: 1.38em;
	padding-left: 16%;
	line-height: 155%;
	padding-top: 2%;
	color: #B2D8CC;
}


/*FRAME TWO STYLE - VIDEO - PLAYER 2*/


/*FRAME THREE STYLES - BLACK SCREEN*/


/*FRAME FOUR STYLES - BLACK SCREEN */


/* FRAME FIVE STYLES - AVTE - PRESERVATION */


/* FRAME SIX STYLES VIDEO - PLAYER 3 */


/* FRAME SEVEN STYLES - BLACK SCREEN*/


/* FRAME EIGHT STYLES - AVTE - TECH & COST - PLAYER 4 */


/* FRAME NINE STYLES - MAIN VIDEO - PLAYER 5 */


/* FRAME TEN STYLES - BLACK SCREEN */


/* FRAME ELEVEN STYLES - AVTE - CULTURE - PLAYER 7 */


/* FRAME TWELVE STYLES - MAIN VIDEO - PLAYER 8 */


/*FRAME THIRTEEN STYLE - BLACK SCREEN*/


/* FRAME FOURTEEN STYLES - AVTE - HISTORY */


/*FRAME FIFTEEN STYLES - MAIN VIDEO*/


/*FRAME SIXTEEN STYLE - BLACK SCREEN*/


/* FRAME SEVENTEEN STYLES - AVTE - CULTURE - PLAYER 11 */


/* FRAME EIGHTEEN STYLES - MAIN VIDEO - PLAYER 12 */


/*FRAME NINETEEN STYLE - BLACK SCREEN*/


/*FRAME TWENTY STYLES - MAIN VIDEO - PLAYER 13*/


/* FRAME TWENTY-ONE STYLES - AVTE - CONCLUSION - PLAYER 14 */


/*FRAME TWENTY-TWO STYLE - MAIN VIDEO - PLAYER 15*/


/* FRAME TWENTY-THREE STYLES - BLACK SCREEN */


/*VIGNETTES*/

.vignettes {
	background: center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 100%;
	width: 100%;
	overflow: auto;
	z-index: 8;
	display: none;
	margin-bottom: 5%
}

.vigVideo {

}

#CFAvig h1 {
	font-family: 'Josefin Sans', Verdana, sans-serif;
	color: #B2D8CC;
	font-size: 1.55em;
}

/*.vignettes p {
	color: white;
	font-size: 2em;
	margin-top: 10%;
}*/

.returnTag {
	background-color: #5E5555;
	border: 1px solid #B2D8CC;
	position: absolute;
	z-index: 3;
	margin-left: 44%;
	margin-top: 4%;
	padding: 0% 1%;
	margin-bottom: 2%
}

.returnTag h1 {
	font-family: 'Josefin Sans', Verdana, sans-serif;
	color: #B2D8CC;
	font-size: 1.15em;
}

#infoVig {
	padding-top: 5%;
	overflow: auto;
}

#infoVig img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 5%;

}

#KatieVig {
	color: #E9EBEB;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 1em;
}

.vigtitleBedLEFT {
	background-color: #000000;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	width: 600px;
	height: 800px;
	z-index: 3;
	position: absolute;
	overflow: hidden;
}

.vigContent {
	width: 35%;
	height: 60%;
	position: absolute;
	z-index: 4;
	overflow-y: scroll;
	margin-top: 10%;
	padding: 2% 0;
	margin-left: 2%;
}

#player_18 {
	margin-top: 0;
}

#nixonVigTag {
	margin-top: 40%;
}

#NixonContent {
	padding-top: 10%;
	height: 100%;
	width: 100%;
}
#KatieVig h1 {
	font-family: 'Josefin Sans', Verdana, sans-serif;
	color: #B2D8CC;
	font-size: 1.40em;
	line-height: 155%;
	padding-bottom: 2%

}

#vig4Content {
	margin-top: 5%
}

